@import '../../sass/variables.scss';

.todo-item {
    width: 100%;
    padding: 8px 20px;
    border-top: 2px solid $color-secondary;
    border-left: 5px solid $color-secondary;
    border-radius: 10px 30px;
    display: flex;
    justify-content: space-between;
    font-family: $secondary-text;
    word-spacing: 5px;
    line-height: 35px;
    transition: .1s;

    &__title {
        color: $color-text;
        font-size: 30px;
    }

    &__buttons {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__btn {
        width: 32px;
        height: 32px;
        margin: 10px 0;
        border-radius: 7px;
        background-color: rgba($color-red, 0.2);
        border: 2px solid $color-red;
        transition: .2s;
        
        &-icon {
            color: $color-secondary;
        }
        
        &--completed {
            
            &:active {
                box-shadow: 0px 0px 5px 1px $color-text;
            }

            &:hover {
                border-color: $color-text;
                box-shadow: 0px 0px 10px 1px $color-text;
            }
        }
        
        &--delete {
            
            &:active {
                box-shadow: 0px 0px 5px 1px $color-red;
            }

            &:hover {
                border-color: $color-red;
                box-shadow: 0px 0px 10px 1px $color-red;
            }
        }
        
        &:last-child {
            margin-right: 0;
        }

        &:active {
            transform: scale(1.1);
        }

        &:hover {
            transform: scale(1.2);
        }
        
    }

    &--completed {
        background-color: darken($color-bc, 20%);
        
        .todo-item__title {
            color: rgba($color-text, 0.5);
        }
    }
}