@import '../../sass/variables.scss';

.todo-list {
    background-color: darken($color-bc, 5%);
    padding: 40px 20px;
    border-radius: 20px;

    &__item {
        margin-bottom: 25px;
    
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__notification {
        font-size: 32px;
        color: $color-text;
        font-family: $secondary-text;
        text-align: center;
        opacity: 0.5;
    }
}
