@import "../../sass/variables.scss";

.main {
    padding: 20px 0;    
    background-color: $color-bc;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 800px;
}

.inputs {
    padding: 0 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}